html {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  line-height: 1.5;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#ff9500, #ff5e3a);
  margin: 0 1.5rem 1.5rem;
}

section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "row1"
    "row2"
    "row3";
  gap: 6vmin;
}

h1  {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: normal;
}

a {
  font-size: 1.125rem;
  list-style-type: none;
  border: .2rem solid rgba(255, 255, 255, .7);
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  margin: 0 1.5rem;
}

.icon {
  position: relative;
  width: 8em;
  height: 8em;
}

.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
}

.icon:hover {
  color: rgba(255, 255, 255, .7);
}

figcaption {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

figure {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 38em) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "row1 row2 row3";
    gap: 6vmin;
  }

  figure {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  figure a {
    justify-content: flex-end;
    margin: auto 0 0 0;
  }

  figure h3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  h1  {
    text-align: center;
  }
}

@media only screen and (min-width: 90em) {
  h2 {
    text-align: center;
  }

  body {
    padding: 1.5rem;
  }

  a {
    display: block;
  }

}
