html {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  line-height: 1.5;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  display: flex;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "col1";
  gap: 6vmin;
  padding: 1.3rem;
}

.wrapper {
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

h1 {
  font-size: 2rem;
  margin: 0;
  grid-area: banner;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  padding-top: .4rem;
}

a {
  font-size: 1.125rem;
  list-style-type: none;
  border: .2rem solid rgba(255, 255, 255, .7);
  text-decoration: none;
  color: #fff;
  padding: 1.2rem .8rem .8rem;
  margin: .5rem .7rem 0;
  text-align: center;
}

.icon {
  position:relative;
  align-self: center;
  width: 8em;
  height: 8em;
}

.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
}

.icon:hover {
  color: rgba(255, 255, 255, .7);
}

figcaption {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 1.5rem;
  justify-content: space-between;
}

figure {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media only screen and (min-width: 38em) {

  section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "spann spann spann"
    "col1 col2 col3";
  gap: 6vmin;
  padding: 6vmin;
  }

  h2 {
    text-align: left;
  }

  header {
    grid-area: spann;
    justify-self: center;
    max-width: 30em;
  }

  figure:nth-of-type(1) {
    grid-area: col1;
    grid-column: 1;
    grid-row: 2;
  }

  figure:nth-of-type(2) {
    grid-area: col2;
    grid-column: 2;
    grid-row: 2;
  }

  figure:nth-of-type(3) {
    grid-area: col3;
    grid-column: 3;
    grid-row: 2;
  }

  a {
    margin: 0;
  }

}

/*
  section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:
      "row1 row2 row3";
    gap: 6vmin;

    padding-top: .8rem;
  }

  body {
    margin: 2.5rem 1rem 1rem;
    background-image: linear-gradient(#ff9500, #ff5e3a);
    background-attachment: fixed;
  }

  figure {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  figcaption {
    padding-top: .5rem;
  }

  figure a {
    justify-content: flex-end;
    margin: auto 0 0;
    text-align: left;
  }

  figure h3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  h2 {
    text-align: left;
  }

  h1 {
    text-align: center;
  }
}

@media only screen and (min-width: 90em) {

  section {
  display: block;
  }

  body {
    display: grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "col1 col2 col3";
    gap: 6vmin;
  }
}


/*section {
    gap: 6rem;
    padding-top: 3.5rem;
  }

  h2 {
    text-align: center;
  }

  body {
    padding: 2rem 4.5rem 4.5rem;
    background-image: linear-gradient(#ff9500, #ff5e3a);
    background-attachment: fixed;
  }

  figcaption a {
    text-align: center;
    margin: .5rem 3.5rem;
  }
}
